@import "main.scss";

.page_content {
  min-height: inherit;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

footer {
  flex-shrink: 0;
}
